/* General reset and styling for the list */
ul.calendar-list {
    list-style-type: none;
    padding: 0;
    margin: 1rem auto;
    width: 80%; 
}

li.calendar-card-li {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 40px 20px 20px 20px; 
    margin-bottom: 20px; 
    position: relative; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column; 
    align-items: center;
}

/* Styling for the date */
li.calendar-card-li span {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold; 
    font-size: 1.2em; 
}

h3 {
    font-size: 1em; 
    margin: 0 0 10px 0; 
    flex: 1;
    text-align: center;
}
