.meal-planner-container {
  display: flex;
  height: 100vh;
}

.meal-planner-section {
  overflow-y: auto;
  padding: 10px;
}

.calendar-view-section {
  flex: 0 0 66%;  
}

.recipe-list-section {
  flex: 0 0 33%;  
}
