.meal-planner-container {
  display: flex;
  height: 100vh;
  overflow: visible;
  position: relative;
}

.meal-planner-section {
  overflow-y: auto;
  padding: 10px;
  position: relative;
}

.calendar-view-section {
  flex: 0 0 66%;  
  position: relative;
}

.recipe-list-section {
  flex: 0 0 33%; 
  position: relative; 
}
