.search-container {
    margin: auto;
    padding-top: 2rem;
    text-align: center;
}

.search-input {
    font-size: 16px; 
    padding: 12px 24px;
    margin-right: 5px;
    border: 2px solid darkslategrey; 
    border-radius: 0.5rem; 
    outline: none; 
}

.search-input:focus {
    border-color: black; 
}